version: "3.9"

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 digiplus_hr.asgi:application
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "8000:8000"
    volumes:
      - ./digiplus_hr/db.sqlite3:/app/db.sqlite3
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: redis-server --save "" --appendonly no
    ports:
      - "6379:6379"
    restart: unless-stopped
